
.nav_bar{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.nav_bar div{
    width: max-content;
    width: 50%;
    text-align: center;
    padding: 15px;
}
.nav_bar div:first-child{
    background-color: coral;
}

.setting{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
.setting label{
    padding: 15px;
    background-color: coral;
}

.main_content{
    display: flex;
    width: 100%;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* .row_content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */
.input_content td input[type="file"]{
    display: none;
}
.input_content td input[type="text"]{
    margin: 15px;
    padding: 5px;
    width: 150px;
    height: 25px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid black;
}
.input_content td label{
    background-color: coral;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid black;
}

.part_content td{
    text-align: center;
    font-size: 20px;
    padding: 7px 15px;
}

.more_info_table{
    display: none;
    margin-bottom: 30px;
}

button{
    background-color: coral;
    border-radius: 5px;
    padding: 15px 40px;
    font-size: 30px;
    font-weight: 500;
    border: 1px solid black;
}
